<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kreaservmp.mumbaiparties" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mumbai Parties</name>
    <description>
        A basic Framework7 template for PhoneGap.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- 14 -->
        <preference name="android-minSdkVersion" value="15" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />

    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    
    <preference name="android-build-tool" value="gradle" />

<!--     <plugin spec="https://github.com/Wizcorp/phonegap-facebook-plugin.git" source="git">
        <param name="APP_ID" value="908572929213032" />
        <param name="APP_NAME" value="Mumbai Parties" />
    </plugin> -->

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="v0.12.0">
        <param name="APP_ID" value="908572929213032" />
        <param name="APP_NAME" value="Mumbai Parties" />
    </gap:plugin>


    <plugin spec="https://github.com/leecrossley/cordova-plugin-directions.git" source="git"/>



</widget>
